<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- this is to use jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
  </head>
  <body>
    <header>
      <div class="logo_container">
        <table class="">
          <tr>
            <td>
              <a href="/">
                <img
                  class="logo-img"
                  src="logo.png"
                  alt="Adoption Center logo"
                  width="128"
                  height="79"
                />
              </a>
            </td>
            <td><h1>Pet Adoption Center</h1></td>
          </tr>
          <tr>
            <td colspan="2"><h3 id="date"></h3></td>
          </tr>
        </table>
      </div>
      <!-- The image is taken from the following website : https://pixabay.com/vectors/dog-cat-domestic-animal-silhouette-1532627/ -->
    <script src="/js/dateScript.js"></script>
    </header>
    <div class="container">
        <main class="main-page">