<aside>
    <ul class="menu">
      <li >
        <a href="/" > Home page </a>
      </li>

      <li>
        <a href="/createAccount">Create an account</a>
      </li>

      <li>
        <a href="/find">Find a dog/cat</a>
      </li>

      <li>
        <a href="/dogCare">Dog Care</a>
      </li>
  
      <li>
        <a href="/catCare">Cat Care </a>
      </li>

      <li>
        <a href="/giveaway">Have a pet to give away</a>
      </li>

      <li>
        <a href="/contact">Contact Us</a>
      </li>

    </ul>
  </aside>
  <script src="/js/sideMenuScript.js"></script>