<aside>
    <ul class="menu">
      <li class="home" >
        <a href="/" > Home page </a>
      </li>

      <li class="available">
        <a href="/browse">Browse Available Pets</a>
      </li>

      <li class="find">
        <a href="/find">Find a dog/cat</a>
      </li>

      <li class="dog_care">
        <a href="/dogCare">Dog Care</a>
      </li>
  
      <li class="cat_care">
        <a href="/catCare">Cat Care </a>
      </li>

      <li class="giveaway">
        <a href="/giveaway">Have a pet to give away</a>
      </li>

      <li class="contact">
        <a href="/contact">Contact Us</a>
      </li>

    </ul>
  </aside>
  <script src="/js/sideMenuScript.js"></script>