<%-include('partials/header') %>
<%-include('partials/sideMenu') %>
<section>
    <!-- Browse available pets page -->
    <div id="content_Pets"></div>
    <script src="/js/script.js"></script>
    <script>
        availablePets();
    </script>
</section>
<%-include('partials/footer') %>
