<%-include('partials/header') %>
<%-include('partials/sideMenu') %>
<section class="info">
          <h2>Here are a few tips on cat care:</h2>
          <ol>
            <li>
              Litter Box : All indoor cats need a litter box, which should be
              placed in a quiet, accessible location. In a multi-level home, one
              box per floor is recommended. Avoid moving the box unless
              absolutely necessary, but if you must do so, move the box just a
              few inches per day. Keep in mind that cats won't use a messy,
              smelly litter box, so scoop solid wastes out of the box at least
              once a day.
            </li>
            <li>
              Grooming : Most cats stay relatively clean and rarely need a bath,
              but you should brush or comb your cat regularly. Frequent brushing
              helps keep your cat's coat clean, reduces the amount of shedding
              and cuts down on the incidence of hairballs.
            </li>
            <li>
              Handling : To pick up your cat, place one hand behind the front
              legs and another under the hindquarters. Lift gently. Never pick
              up a cat by the scruff of the neck or by the front legs.
            </li>
            <li>
              Housing : Your pet should have her own clean, dry place in your
              home to sleep and rest. Line your cat's bed with a soft, warm
              blanket or towel. Be sure to wash the bedding often. Please keep
              your cat indoors.
            </li>
            <li>
              Identification : If allowed outdoors, your cat must wear a safety
              collar and an ID tag. A safety collar with an elastic panel will
              allow your cat to break loose if the collar gets caught on
              something. And for both indoor and outdoor cats, an ID tag or an
              implanted microchip can help ensure that your cat is returned if
              he or she becomes lost.
            </li>
          </ol>

          Information taken from here :
          <a
            href="https://www.aspca.org/pet-care/cat-care/general-cat-care"
            style="color: darkblue"
            >[https://www.aspca.org/pet-care/cat-care/general-cat-care]</a
          >
        </section>
<%-include('partials/footer') %>