<%-include('partials/header') %> <%-include('partials/sideMenu') %>
<section>
  <h2>Contact information:</h2>
  <p style="font-size: 20px; line-height: 2; margin: 20px">
    Allison Shkodra
    <br />
    allison.shkodra@mail.concordia.ca
  </p>
</section>
<%-include('partials/footer') %>
