<%-include('partials/header') %>
<%-include('partials/sideMenu') %>
<section class="info">
          <h2>Here are a few tips on dog care:</h2>
          <ol>
            <li>
              Exercice : Dogs need exercise to burn calories, stimulate their
              minds, and stay healthy. Supervised fun and games will satisfy
              many of your pet's instinctual urges to dig, herd, chew, retrieve
              and chase.
            </li>
            <li>
              Grooming : Help keep your dog clean and reduce shedding with
              frequent brushing. Check for fleas and ticks daily during warm
              weather. Most dogs don't need to be bathed more than a few times a
              year.
            </li>
            <li>
              Handling : To carry a puppy or small dog, place one hand under the
              dog's chest, with either your forearm or other hand supporting the
              hind legs and rump. If you do have to lift a large dog, lift from
              the underside, supporting his chest with one arm and his rear end
              with the other.
            </li>
            <li>
              Housing : Your pet needs a warm, quiet place to rest, away from
              all drafts and off the floor. A training crate or dog bed is
              ideal, with a clean blanket or pillow placed inside.
            </li>
            <li>
              Licensing and Identification : Follow your community’s licensing
              regulations. Be sure to attach the license to your dog’s collar.
              This, along with an ID tag and implanted microchip or tattoo, can
              help secure your dog’s return should she become lost.
            </li>
          </ol>

          Information taken from here :
          <a
            href="https://www.aspca.org/pet-care/dog-care/general-dog-care"
            style="color: darkblue"
            >[https://www.aspca.org/pet-care/dog-care/general-dog-care]</a
          >
        </section>
<%-include('partials/footer') %>