<%-include('partials/header') %>
<%-include('partials/sideMenu') %>
<section>
  <!--Home Page-->
  <h2>Welcome!</h2>
  <p style="text-align: justify; font-size: 20px; line-height: 2; margin: 20px">
    Welcome to the Adoption Center website! On this website you can browse all
    of our available pets, you can find a dog or cat that fits your need and
    your requests, you can learn about dog and cat care and you can chose to
    give away your pet. We hope you enjoy our website and do not hesitate to
    contact us if you have any questions!
  </p>
</section>
<%-include('partials/footer') %>
