<%-include('partials/header') %>
<%-include('partials/sideMenu') %>
<section>
    <h2>Privacy/Disclaimer Statement</h2>
    <p
      style="
        text-align: justify;
        font-size: 20px;
        line-height: 2;
        margin: 20px;
      "
    >
      We promise that your information will not be sold or misused. We are
      not responsible for any incorrect information posted on our website
      by a pet owner.
    </p>
  </section>
<%-include('partials/footer') %>