body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri;
  margin: 0;

  background-color: rgb(70, 70, 70);
}

/* For the header */
.logo_container {
  /* The header */
  background-color: rgb(48, 91, 125);
  padding: 15px;
  height: auto;
}

.logo_container table {
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
  /* The image/logo in the header */

  background-color: #f7f9f8;
  padding: 10px;
  border-radius: 20px;
}

.logo_container h1 {
  /* The text/name */
  font-size: 50px;
  margin: 30px;
  color: #f7f9f8;
}

#date {
  color: #f7f9f8;
  text-align: center;
  font-size: small;
  font-weight: bold;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  border-radius: 100px;
  background-color: rgb(42, 81, 110);
}

.main-page {
  /* The side menu + the main content of the page */
  display: grid;
  grid-template-areas:
    "menu content"
    "footer footer";
  min-height: 65vh;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 1fr auto;
}

/* For the side menu */

aside {
  grid-area: menu;
  width: 225px;
  background-color: lightsteelblue;
}
.menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
  font-size: large;
  overflow: hidden;
}
aside li {
  height: 61px;
  width: 225px;
}
aside li:hover {
  /* when we hover an option in the menu */
  background-color: steelblue;
}
aside li:hover a {
  /* when we hover an option in the menu */
  color: #f7f9f8;
}

.container a {
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 20px 0px;
}

/* For the content area */
section {
  grid-area: content;
  padding: 20px;
  background-color: #f7f9f8;
}

/* For Browse available pets */
#content_Pets .content_info {
  background-color: lightsteelblue;
  margin: 25px;
  padding: 15px;
}
#content_Pets caption {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
#content_Pets .content_input {
  text-align: right;
  margin-top: 5px;
}
#content_Pets input {
  background-color: #363f49;
  color: #f7f9f8;
  border-radius: 10px;
}

/* For the footer */
footer {
  grid-area: footer;
  height: 70px;
  font-size: 15px;
  color: #f7f9f8;
  text-align: center;
}
footer h3 {
  display: inline;
  vertical-align: -25px;
  padding-left: 30px;
  color: #f7f9f8;
}
